/* pagina mural */

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "OptimusPrinceps";
  src: url("../assets/fonts/OptimusPrinceps.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OptimusPrincepsSemi";
  src: url("../assets/fonts/OptimusPrincepsSemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "EBGaramond-Bold";
  src: url("../assets/fonts/EBGaramond-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata";
  background-color: black;
}

.dash_body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  min-height: 100vh;
}

aside {
  background-color: #00000055;
  color: #f1f3e8;
  display: flex;
  position: fixed;
  z-index: 2;
  flex-direction: column;
  width: 255px;
  height: 100vh;
  margin: 0;

}

.asideBgFilter{
  display: flex;
  position: absolute;
  z-index: 1;
  width: 255px;
  height: 100vh;
  background-color: #00000045;
  background-position: 84%;
  background-size: cover;
}

aside a {
  display: flex;
  justify-content: center;
  align-content: center;
}

aside img {
  width: 10vw;
  justify-self: center;
  align-self: center;
  transition: 200ms;
}
aside img:hover {
  scale: 1.06;
  transition: 150ms;
}

aside li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
aside li ul {
  margin: 0;
  padding: 1vw;
  font-size: 18px;
  text-align: center;
  
  transition: 100ms;
}
aside li ul:hover {
  scale: 1.02;
  transition: 200ms;
  border: 2px solid #ff9900;
  background-color: #00000072;
  transform: translateY(-4px);
  color: #ff9900;
}
.bt_vermelho:hover {
  color: crimson;
  border: 2px solid crimson;
  background-color: rgba(0, 0, 0, 0.545);
  font-weight: 600;
  transition: 200ms;
}

main {
  width: 100%;
  align-content: center;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/imgs/ceasingFire.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 255px ;
}

.titulo_dash {
  text-align: center;
  color: #f1f3e8;
  font-family: "OptimusPrinceps";
  margin-bottom: 1.3vw;
}

.cardsD {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1.7vw 0;
}

.cardD {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  background: rgba(0, 0, 0, 0.594);
  padding: 20px;
  text-align: center;
  width: 180px;
  backdrop-filter: blur(5px);
}

.cardD h2 {
  color: white !important;
  font-family: "Inconsolata";
  font-size: 28px;
  margin: 0 auto;
  font-weight: 600;
}

.cardD p {
  font-size: 20px;
  margin: 10px auto 0 auto;
  color: #ff9900;
}

.charts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
 
}
.chart {
  background: rgba(0, 0, 0, 0.582);
  backdrop-filter: blur(5px);
  padding: 20px;
  width: 35%;
}

img {
  margin: 100px auto;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

a {
  text-decoration: none;
  color: inherit;
}