@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: "OptimusPrinceps";
  src: url("../assets/fonts/OptimusPrinceps.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OptimusPrincepsSemi";
  src: url("../assets/fonts/OptimusPrincepsSemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "EBGaramond-Bold";
  src: url("../assets/fonts/EBGaramond-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
html{
min-height: 100vh ;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata";
  background-color: black;
}

:root {
  --tamanho-header: 45px;
  --tamanho-banner: calc(100vh - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

h1{
  font-family: "OptimusPrinceps";
  font-size: 60px;
  text-align: center;
  transform: translateY(100px);
}

h2{
  margin-top: 75px;
  font-family: "OptimusPrinceps";
  font-size: 40px;
  text-align: center;
}

h3{
  color: #df8b02;
  font-family: "OptimusPrinceps";
  font-weight: 200;
  font-size: 35px;
  text-align: center;
}

h4{
  color: #df8b02;
  font-size: 30px;
}

p{
  font-weight: 300;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: fit-content;
  margin: auto;
}


.header {
  height: 45px;
  position: fixed;
  width: 100%;
  background-color: #0000007a;
  backdrop-filter: blur(2px);
  z-index: 1003;
}

.header .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  font-weight: 700;
  transition: 150ms;
}

.header li{
  transition: 450ms;
}

.header li:hover{
  transition: 750ms;
  transform: scale(1.07);
}

.header a:hover{
  transition: 450ms;
  color: #df8b02;
}

.button-login {
    color: rgb(255, 255, 255);
    border-radius: 2px;
    border: none;
    padding: .5vw .9vw;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "OptimusPrinceps";
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 20px;
    background-color: #0000005d;
  -webkit-box-shadow: 0px 0px 19px 6px #00000069; 
box-shadow: 0px 0px 19px 6px #00000069;
}

.button-login:hover {
    background-color: #000000b8;
    border: solid 1px;
    font-family: "Inconsolata";
    border-color: #df8b02;
    color: #df8b02;
    scale: 1.05;
    font-weight: 700;
}

.agora a{
  font-weight:bolder;
  font-family: "OptimusPrinceps";
  color: #ff9d00;
}

.navbar {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  color: #df8b02;
  padding: 0;
}

.navBarText{
  font-size: 100%;
  font-family: "OptimusPrincepsSemi";
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: white;
}

.banner .container img{
  margin-top: 30vh;
  width: 75%;
  transition: 750ms;
}

.banner .container img:hover{
  scale: 1.02;
  transition: 750ms;
}

.banner .container p{
  font-family: "OptimusPrincepsSemi";
}

.bGImageFilter{
  position: fixed;
  z-index: -999;
  height: 100%;
  width: 100%;
  backdrop-filter: brightness(.48)
}

.banner .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner .container .titulo{
  position: absolute;
  color: #df8b02;
  width: fit-content;
  font-weight: 800;
  font-size: 7vw;
  left: 8vw;
  top: 64vh;
  z-index: 1;
}

.banner .container p {
  width: fit-content;
  margin: 0;
  padding: 0;
  font-size: 5vw;
  position: absolute;
  top: 76vh;
  text-shadow: 4px -3px 7px rgba(0,0,0,1);
}
.banner .container span{
  font-size: 3vw;
}

/* CAIXAS DE TEXTO */

section{
  width: 90%;
  margin: 0 auto 150px auto;
  backdrop-filter: blur(2px);
  background-color: #000000da;
  -webkit-box-shadow: 0px 0px 29px 20px #000000df; 
box-shadow: 0px 0px 29px 20px #000000df;

}

.social {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: fit-content;
  justify-self: center;
  color: #e5e5e5;
  padding-bottom: 200px;
}

.social .container {
  justify-content: center;
}

.box img {
  height: 450px;
  transform: translateX(-60px);
}

.box #imgGwyn{
  height: 600px;
}

.box {
  margin-top: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.boxContos{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxContos img {
  width: 80%;
  background-color: #000000aa;
  -webkit-box-shadow: 0px 0px 29px 20px #000000b6; 
box-shadow: 0px 0px 29px 20px #000000b6;
}

.innerBox{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: #000000b6;
  backdrop-filter: blur(2px);
  padding: 0 4%;
  font-size: 20px;
}

.innerBox h4{
  text-align: center;
}

.innerBox p{
  padding: 2%;
  text-align:start;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

/* FOOTER */

.footer {
  background-color: #000000bf;
  height: fit-content;
  color: #fff;
  display: flex;
  font-size: 15px;
  backdrop-filter: blur(2px);
  -webkit-box-shadow: 0px 0px 29px 20px #000000b6; 
box-shadow: 0px 0px 29px 20px #000000b6;
}

.container h4{
  font-size: 18px
}

.footer .container {
  justify-content: center;
  text-align: center;
}

.footer .container .version {
  font-size: 12px;
}

/* BELEZAS */

.setorBelezas{
  width: 90vw;
  display: flex;
  flex-wrap: wrap ;
  justify-self: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 100px 0;
  background-color: #000000aa;
  -webkit-box-shadow: 0px 0px 29px 20px #000000b6; 
box-shadow: 0px 0px 29px 20px #000000b6;
}

.setorBelezas img{
  max-width: 75%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 29px 20px #000000b6; 
box-shadow: 0px 0px 29px 20px #000000b6;
}

.setorBelezas .beleza{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.beleza p{
  color: #fff;
  font-size: 20px;
  width: 65%;
  margin: 30px auto 150px auto;
  text-align: center;
}

/* LOGIN */

.login {
  height: 100vh;
}

.containerLoginCad {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100vh;
  margin: auto;
}

.login .containerLoginCad {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color:  white;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
  background-color: #000000cc;
  -webkit-box-shadow: 0px 0px 29px 20px #000000d6; 
box-shadow: 0px 0px 29px 20px #000000d6;
}

.card h2 {
  font-family: "Inconsolata";
  margin: 0;
  font-size: 30px;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #ff9900;
  text-align: center;
  margin: 0;
}

.formulario select {
  border: 2px solid #ff9900;
  background-color: white;
  color: rgb(255, 255, 255);
  height: 36px;
  text-align: center;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Inconsolata", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background-color: #00000087;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ff9900 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #ff9900;
  background-color: rgba(0, 0, 0, 0.741);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ff9900;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0%   {transform: rotate(25deg)}
  25%  {transform: rotate(-25deg)}
  50%  {transform: rotate(25deg)}
  75%  {transform: rotate(-25deg)}
  100% {transform: rotate(25deg)}
}